body{
    margin: 0;
    padding: 0;
    background-image: url("assets/random.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: white !important;
}

.employee-list {
    color: white;
}

.table {
    background-color: white;
}

.reg-label  {
    color: white;
}
